<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
</head>
<body>
<script src="../api/listens.js"></script>
<script src="../api/rdvc_cient_core_api.js"></script>
<button onclick="desktopInit()">开始</button>
<button onclick="desktopSuspend()">暂停</button>
<button onclick="desktopContinued()">恢复</button>
<input type="text" id="joinRoomId"/>
<button onclick="applyJoinRoom(document.getElementById(joinRoomId))">加入房间</button>
</body>
</html>